/*:root {*/
/*    --bgColor-defualt: #ffffff;*/
/*    --bgColor-muted: #f6f8fa;*/
/*    --bgColor-inset: #f6f8fa;*/
/*    --bgColor-emphasis: #24292f;*/
/*    --bgColor-accent-emphasis: #0969da;*/
/*    --fgColor-defualt: #1f2328;*/
/*    --fgColor-muted: #636c76;*/
/*    --fgColor-accent: #0969da;*/
/*    --borderColor-default: #d0d7de;*/
/*    --borderColor-muted: #d0d7deb3;*/
/*    --page-width: 1220px;*/
/*    font-size: 16px;*/
/*}*/

:root {
    --bgColor-defualt: #0d1117;
    --bgColor-muted: #161b22;
    --bgColor-inset: #010409;
    --bgColor-emphasis: #6e7681;
    --bgColor-accent-emphasis: #1f6feb;
    --fgColor-defualt: #e6edf3;
    --fgColor-muted: #848d97;
    --fgColor-accent: #4493f8;
    --borderColor-default: #30363d;
    --borderColor-muted: #30363db3;
    --page-width: 1020px;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--fgColor-defualt);
    background-color: var(--bgColor-defualt);
}

.navbar {
    height: 4em;
    border-bottom: var(--borderColor-default) solid 1px;
    align-content: center;
    background-color: var(--bgColor-defualt);
}

.navbar .container {
    max-width: var(--page-width);
    /*border: red solid 1px;*/
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    color: var(--fgColor-defualt);
    text-decoration: none;
}

.navbar_logo .img {
    height: 2em;
    margin-right: 1em;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 1rem !important;
    position: relative;
    top: 0.1em;
    color: var(--fgColor-muted);
    margin-right: 0.5rem;
}

.wrapper {
    max-width: var(--page-width);
    margin: auto;
    padding-top: 1em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: var(--fgColor-defualt);
}

h1:hover .anchor,h2:hover .anchor,h3:hover .anchor,
h4:hover .anchor,h5:hover .anchor,h6:hover .anchor {
    display: inline-flex;
    color: var(--fgColor-muted);
    margin-inline-start:8px;
    font-weight: 500;
    user-select: none;
}

.entry {
    width: 100%;
    border: 1px solid var(--borderColor-default);
    border-radius: 0.5rem;
    background: var(--bgColor-muted);
    margin-bottom: 1em;
    padding: 1em;
}

.entry .time-stamp {
    color: var(--fgColor-muted);
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.entry .title {
    font-weight: 700;
}

.entry .presenter {
    color: var(--fgColor-muted);
}

.entry .tags {
    margin-top: 0.05em;
    margin-bottom: 0.75em;
}

.tags .tag {
    color: var(--fgColor-muted);
    background-color: var(--bgColor-muted);
    font-size: 0.7em;
    font-weight: 600;
    padding: 0.30em 0.60em;
    border-radius: 0.5em;
    margin-right: 0.2em;
}

.entry .links {
    margin-top: 0.5em;
}

.file {
    color: var(--fgColor-accent);
    font-size: 0.9em;
    margin-right: 0.5em
}

.file:before {
    display: inline-block;
    font-family: 'Material Symbols Outlined';
    content: '\e873';
    position: relative;
    top: 0.1em;
    color: var(--fgColor-accent);
    margin-right: 0.2rem;
}

.file:hover {
    text-decoration: underline;
}

.file .link-note {
    display: inline-block;
    color: var(--fgColor-muted);
    font-size: 0.8em;
    margin-left: 0.2em;
}

.tags .physics {
    color: #3a340b;
    background-color: #FCE22A;
}

.tags .math {
    color: #3a0a0a;
    background-color: #ff6d7d;
}
